/* 
 * SeverinoBiu - Video Loop
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #96BDBF;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-container {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

video {
    max-width: 100%;
    max-height: 100vh;
    display: block;
    /* Maintain aspect ratio */
    height: auto;
    width: 100%;
    object-fit: contain; 
}
